@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Quicksand";
  src: url("../public//fonts/Quicksand/Quicksand-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Quicksand";
  src: url("../public//fonts/Quicksand/Quicksand-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Quicksand";
  src: url("../public//fonts/Quicksand/Quicksand-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Quicksand";
  src: url("../public//fonts/Quicksand/Quicksand-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Quicksand";
  src: url("../public//fonts/Quicksand/Quicksand-Bold.ttf");
  font-weight: 700;
}
* {
  font-family: "Quicksand";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #00bfff;
}
