.register-login {
  width: 20%;
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
}
.register-login a {
  text-decoration: none;
  width: calc(100% / 2);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #007bff;
  transition: 0.5s;
}
.register-login a:hover {
  background-color: #007bff;
  color: white;
}
