.career-page {
  height: 100vh;
}
.career-title {
  color: white;
  font-size: 40px;
  padding: 20px;
}
.hr-policies-title {
  margin-bottom: 20px;
  color: #007bff;
  font-size: 30px;
  text-align: center;
}
