.links {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.links .corporate {
  text-decoration: none;
  width: calc(100% / 6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #007bff;
  transition: 0.5s;
}
.links .corporate:hover {
  background-color: #007bff;
  color: white;
}
.links a {
  text-decoration: none;
  width: calc(100% / 6);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #007bff;
  transition: 0.5s;
}
.links a:hover {
  background-color: #007bff;
  color: white;
}
.total-links {
  width: 60%;
  display: flex;
  align-items: center;
  position: relative;
}
.tabs-under-corporate {
  position: absolute;
  left: 123px;
  top: 100px;
  z-index: 2000;
  background-color: white;
  display: none;
  display: flex;
  flex-direction: column;
}
.tabs-under-corporate a {
  text-decoration: none;
  height: 100%;
  display: flex;
  color: #007bff;
  transition: 0.5s;
  padding: 20px;
}
.tabs-under-corporate svg {
  margin-right: 10px;
}
.tabs-under-corporate a:hover {
  background-color: #007bff;
  color: white;
}
